image: node:16

stages:
  - test
  - build
  - deploy

variables:
  MYSQL_DATABASE: blogdb
  MYSQL_ROOT_PASSWORD: admin1234
  MYSQL_USER: myuser
  MYSQL_PASSWORD: admin1234

services:
  - mysql:8.0

cache:
  paths:
    - backend-node/node_modules/

before_script:
  - cd backend-node
  - npm install
  - npm install -g jest
  - |
    until nc -z -v -w30 mysql 3306
    do
      echo "En attente de la connexion MySQL..."
      sleep 1
    done
  - echo "MySQL est prêt!"

test:
  stage: test
  script:
    - NODE_ENV=test npm test
  only:
    - main
    - merge_requests

build:
  stage: build
  script:
    - docker build -t blog-api .
  only:
    - main

deploy:
  stage: deploy
  script:
    - echo "Déploiement de l'application..."
  only:
    - main